 body {
  font-size: small;
  font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0;	/*Wieso hat der Body überhaupt ein Margin als Standartwert??*/
 }

nav {
	 position: sticky;
	 top:0px;
 }

 nav ul {
	 background-color: #ffc656;
   border-top: 3px solid #146eff;
   border-bottom: 3px solid #146eff;
	 padding:4px 0px 4px 0px; /*Top Right Bottom Left*/
	 margin:0; /*Damit der folgende Inhalt näher an der Leiste dran ist*/
 }

 nav li {
  display: inline;
  list-style-type: none;
	/*Das li element passt sich an seinen Inhalt an (die anchor-tags), deswegen sind hier keine Größenänderungen nötig*/
 }

 nav a {
	color: black;
	text-decoration: none;
  padding: 4px 8px 4px 8px; /*Sorgt für mehr Leerraum um den Text, wodurch er zu einem schönen Knopf wird.*/
 }

nav a:hover, a#aktuelleSeite { /*Links über die gehovert wird und Links mit der id="aktuelleSeite"*/
  background-color: #ff8d00;
 }
